# ignore tmp and old stuff
tmp/
CT2FE/
old/

/scripts/old
/scripts/gmsh
/scripts/matlab

# ignore irrelevant things
/pippo*
/.ipynb_checkpoints/
/.idea

# ignore heavy test data
/test_data/steel_foam/*
/test_data/trabecular_bone/spooles.out
/test_data/trabecular_bone/*
