# ignore tmp, tests, pippos and old stuff
tmp/
old/
scripts/
tests/

/scripts/old
/scripts/gmsh
/scripts/matlab

/src/ciclope/pippo*

# ignore examples under development
/src/ciclope/*.ipynb
/src/ciclope/.ipynb_checkpoints/

# ignore sphinx documentation
/docs

# ignore irrelevant things
/pippo*
/.ipynb_checkpoints/
/.idea

# ignore test data
/test_data/steel_foam/*
/test_data/trabecular_bone/spooles.out
/test_data/trabecular_bone/*
