# ignore tmp and old stuff
tmp/
../../Desktop/tmp_ct2fe/CT2FE/
../../Desktop/tmp_ct2fe/old/

/scripts/old
/scripts/gmsh
/scripts/matlab

# ignore irrelevant things
/pippo*
/.ipynb_checkpoints/
/.idea

# ignore heavy test data
/CT2FE/example_01/pippo.*
/CT2FE/example_01/spooles.out
/CT2FE/example_01/bone_mask_8bit/
/CT2FE/example_01/mask_8bit_cap/
/CT2FE/example_01/masked_8bit_cap/
/CT2FE/example_03/pippo.*
/CT2FE/example_03/spooles.out
/test_data/steel_foam/*
/test_data/trabecular_bone/spooles.out
/test_data/trabecular_bone/*
